* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}


.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 3rem;

  scroll-behavior: smooth;
}

body {
  background: rgba(51, 51, 51, 1);
  overflow-x: hidden;

}

body::before {
  content: '';
  width: 100%;
  height: 7.2rem;
  background: rgba(51, 51, 51, 1);
  position: absolute;
  z-index: -1;
  border-bottom: 1px solid #bebebe;


}



nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;

}




.logo img {
  margin-top: 1rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;

}

.logo {
  align-items: center;
  display: flex;
  gap: 1rem;

}

.logo h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.4rem;
  color: white;
  display: flex;
  align-items: center;
}


ul {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  display: flex;
  gap: 3.2rem;
}

ul li {
  list-style: none;

}

ul a {
  color: rgb(217, 217, 217);
  text-decoration: none;
}

ul a:hover {
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

header::before {
  opacity: 20%;
  content: '';
  background-image: url(images/foto-cice.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;

  width: 100%;
  height: 110%;
  position: absolute;
  z-index: -2;
  left: 0;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.tabela {
  width: 100%;
  height: 50vh;
  margin-top: 10rem;
}

thead td {
  color: white;
}



.tabela {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #202020;
  gap: 5rem;
}

.tabela img {
  object-fit: cover;
  width: 26rem;
  height: 28rem;
  margin-top: 5rem;
}

table {
  margin-top: 2rem;
  border-spacing: 0;
  border-radius: 5px;

  max-width: 300px;
  width: 100%;
  height: 80%;
  background-color: rgb(80, 81, 81);
  font-size: 2rem;
  border: 1px solid white;
  text-align: center;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
}

.text-section1 h1 {
  font-weight: 700;
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: 1rem;
  max-width: 600px;
  color: rgba(255, 255, 255, 0.74);
}

.text-section1 {
  border: 1px solid #bebebe;

}

.section1 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.section2 {
  border-top: 2px solid rgb(0, 0, 0);
  width: 100%;
  background-color: rgb(120, 120, 120);

  height: 100%;
  margin-bottom: 5rem;

  display: flex;
  justify-content: center;
}

.foto-sobre img {
  margin-top: 5rem;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border: 2px solid rgb(14, 3, 3);
  border-radius: 50%;
  box-shadow: -5px 1px 20px 1px #000000;
}

.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;


}

.text-sobre {
  text-align: center;

}

.text-sobre h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);

  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: overline;

  box-shadow: 5px 5px 15px 5px #000000;
}

.text-sobre p {
  font-weight: 400;
  font-size: 2rem;
  color: aliceblue;

  max-width: 700px;
}



.section3 {

  border-top: 2px solid rgb(0, 0, 0);
  width: 100%;
  background-color: rgb(120, 120, 120);
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 5rem;

  position: relative;
  z-index: 1;
}

.corte1 {
  text-align: center;
  width: 100%;
  gap: 8rem;

  flex-direction: column;

  position: relative;
}

.corte1 img {
  max-width: 30rem;
  max-height: 40rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 2rem;

}


.img-before1 {
  position: relative;
}

.img-before1::before {
  content: '';
  max-width: 30rem;
  max-height: 31rem;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: -1;
  right: -20px;
}

.img-before2 {
  position: relative;
}

.img-before2::before {
  content: '';
  max-width: 30rem;
  max-height: 31rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.946);
  position: absolute;
  z-index: -1;
  right: 8rem;
  bottom: 2rem;
}





.text1, .text2 {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.textcontent, .textcontent-none, .textcontent-initial {
  max-width: 500px;

  color: rgb(2, 0, 0);
}

.text1 h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.text1 img {
  margin: 3rem 1rem;
}


.line {
  width: 70vw;
  height: 0;
  border-top: 1px solid rgb(0, 0, 0);

  position: absolute;

  top: 70vh;
  z-index: -4;
}

.text2 img {
  margin: 0rem 1rem;
}


.text2 h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text2 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.logo-wpp {
  position: fixed;
  right: 0;
  bottom: 0;

  padding: 2rem;
  z-index: 2;
}

.logo-wpp img {
  width: 5rem;
  height: 5rem;
}



footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
  color: white;
  letter-spacing: .5rem;
}

footer span {
  color: rgb(136, 136, 136);
}

footer a {
  text-decoration: none;
  color: red;
}


.textcontent-none {
  display: none;
}

#none {
  display: none;
}

#menu-2 {
  display: none;
}

#menu {
  visibility: hidden;
  display: block;
  background-color: #565656;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 0vh;
  overflow: hidden;
  transition: .6s;
  top: 7.3rem;
  right: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 5rem;
  line-height: 10rem;
}

#nav.active #menu {
  overflow-y: auto;
  height: 100vh;
  display: flex;
  visibility: visible;
}

#menu a {
  font-family: 'Orbitron', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.hide {
  overflow-y: hidden;
}


@media (min-width: 600px) {

  header::before {
    background-position: top;
    background-size: 100%;
  }

  header {
    justify-content: flex-start;
  }

  #btn-Mobile {
    visibility: hidden;
  }



  #menu-2 {
    display: flex;
  }


  .sobre {
    flex-direction: row;
  }

  .corte1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text1, .text2 {
    flex-direction: row;
    justify-content: center;
  }

  .textcontent-initial {
    display: none;

  }

  .textcontent-none {
    display: initial;
  }


}