* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

body {
  background: rgba(51, 51, 51, 1);
}

body::before {
  content: '';
  width: 100%;
  height: 7.2rem;
  background: rgba(51, 51, 51, 1);
  position: absolute;
  z-index: -1;
  border-bottom: 1px solid white;

}

nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;

}


.logo {
  display: flex;
}

.logo h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.4rem;
  color: white;
  display: flex;
  align-items: center;
}


ul {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  display: flex;
  gap: 3.2rem;
}

ul li {
  list-style: none;

}

ul a {
  color: gray;
  text-decoration: none;
}

ul a:hover {
  color: rgb(255, 255, 255);
}

main::before {
  opacity: 20%;
  content: 'teste';
  background-image: url(/images/delfina-pan-wJoB8D3hnzc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;

  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -2;
  left: 0;
}